body {
  font-family: courier;
  font-size: 1.0em;
  padding: 0 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {

}

.line {
  display: block;
}

.ins {
  padding: 0 0.1em;
  margin: 0 0.07em;
  background-color: #eee;
}

.ins:hover {
  cursor: pointer;
}

.ins.current {
  background-color: yellow;
}

.ins.wrong {
  background-color: #f99;
}

#complete {
  display: none;
}
