body {
  font-family: courier;
  font-size: 1.0em;
  padding: 0 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.line {
  display: block;
}

.ins {
  padding: 0 0.1em;
  margin: 0 0.07em;
  background-color: #eee;
}

.ins:hover {
  cursor: pointer;
}

.ins.current {
  background-color: yellow;
}

.ins.wrong {
  background-color: #f99;
}

#complete {
  display: none;
}


.ins {
  position: relative;
}

.ins .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 2px 0;
  border-radius: 3px;

  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.ins:hover .tooltiptext {
  visibility: visible;
}
